<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-4 col-md-4 text-center mailLink">
      <a href="http://eepurl.com/cPim9j">
        <img src="http://preview.ibb.co/ijZmYF/Mail_Link.png" alt="Subscribe to our Mailing List" class="img-rounded">
      </a>
      <hr class="yellow">
    </div>
  </div>

  <div class="row heading">
    <div class="col-md-5 col-md-offset-2 col-xs-12">
      <h2>CONTACT US</h2><hr class="orange">
    </div>
    <div class="col-md-3 col-xs-12 text-right">
      <address>
        <strong>Srujana LLC</strong><br>
        srujanashow@gmail.com<br>
        <abbr title="Phone">P:</abbr> (973) 652-6607
      </address>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div *ngIf="err">
        <div *ngIf="!fieldCheck()" class="alert alert-danger">
          <strong>*Please fill out the following fields:</strong>
          <div [hidden]="name.length !== 0">
            Name is required
          </div>
          <div [hidden]="email.length !== 0">
            Email is required
          </div>
          <div [hidden]="subject.length !== 0">
            Subject is required
          </div>
          <div [hidden]="message.length !== 0">
            Message is required
          </div>
        </div>
      </div>
      <div *ngIf="sent" class="alert alert-success">
        <div>
          Thanks for your message, we'll get back to you ASAP!
        </div>
      </div>
      <form>
        <label>*Name:</label><br>
        <input type="text" name="name" placeholder="Ex -> Alan Smith" [(ngModel)]="name" /><br><br>
        <label>*Email:</label><br>
        <input type="text" name="email" placeholder="Ex -> alansmith@example.com" [(ngModel)]="email" /><br><br>
        <label>*Subject:</label><br>
        <input type="text" name="subject" placeholder="Ex -> Sponsorship Opportunities" [(ngModel)]="subject" /><br><br>
        <label>*Message:</label><br>
        <textarea name="message" rows="3" placeholder="Ex -> Please call me at +1 (555) 123-4567 regarding new venues!" [(ngModel)]="message"></textarea><br>
        <hr class="yellow">
        <div class="row">
          <div class="col-xs-6 text-left">
            <div class="well well-sm text-center send" title="Submit Your Message!" (click)="emailUs()">
              <span class="glyphicon glyphicon-send"></span>
            </div>
          </div>
          <div class="col-xs-6 text-right">
            <div class="well well-sm text-center clear" title="Reset Your Message!" (click)="resetFields()">
              <span class="glyphicon glyphicon-trash"></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
