<div class="container">
  <div class="heading">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h2>OUR TEAM</h2><hr class="orange">
    </div>
  </div>

  <div class="row">
    <div class="member">
      <div class="col-md-2 col-md-offset-2 col-xs-offset-0 image">
        <img src="http://image.ibb.co/jXTyJ5/IMG_6906.jpg" alt="IMG_6906" class="img-rounded">
        <hr class="yellow">
      </div>
      <div class="col-md-2 col-xs-12 text-left name">
        <h3>Ashish Desai</h3>
        <h5>adesai28@gmail.com</h5>
        <h5>+1 (973) 652-6607</h5>
      </div>
    </div>
    <div class="member">
      <div class="col-md-2 col-md-offset-0 col-xs-12 text-right name">
        <h3>Rathin Metha</h3>
        <h5>rathin72@gmail.com</h5>
        <h5>+1 (908) 720-9082</h5>
      </div>
      <div class="col-md-2 text-right image">
        <img src="http://image.ibb.co/e7rw5k/image1.jpg" alt="image1" class="img-rounded">
        <hr class="yellow">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="member">
      <div class="col-md-2 col-md-offset-2 col-xs-offset-0 image">
        <img src="http://image.ibb.co/cKaqFk/IMG_2777.jpg" alt="IMG_2777" class="img-rounded">
        <hr class="yellow">
      </div>
      <div class="col-md-2 col-xs-12 text-left name">
        <h3>Jagadish Christian</h3>
        <h5>jagadishchristian@yahoo.com</h5>
        <h5>+1 (201) 240-6019</h5>
      </div>
    </div>
    <div class="member">
      <div class="col-md-2 col-md-offset-0 col-xs-12 text-right name">
        <h3>Kaushik Amin</h3>
        <h5>kaushikamin@hotmail.com</h5>
        <h5>+1 (201) 936-4927</h5>
      </div>
      <div class="col-md-2 text-right image">
        <img src="http://image.ibb.co/nc6Ut5/IMG_7205.png" alt="IMG_7205" class="img-rounded">
        <hr class="yellow">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="member">
      <div class="col-md-2 col-md-offset-2 col-xs-offset-0 image">
        <img src="http://image.ibb.co/kStW6Q/Full_Size_Render.jpg" alt="Full_Size_Render" class="img-rounded">
        <hr class="yellow">
      </div>
      <div class="col-md-2 col-xs-12 text-left name">
        <h3>Vijaybhai Thakkar</h3>
        <h5>vijaythakkar55@yahoo.com</h5>
        <h5>+1 (732) 856-4093</h5>
      </div>
    </div>
    <!-- <div class="member">
      <div class="col-md-2 col-md-offset-0 col-xs-12 text-right name">
        <h3>Kaushik Amin</h3>
        <h5>kaushikamin@hotmail.com</h5>
        <h5>+1 (201) 936-4927</h5>
      </div>
      <div class="col-md-2 text-right image">
        <img src="http://image.ibb.co/e7rw5k/image1.jpg" alt="image1" class="img-rounded">
        <hr class="yellow">
      </div>
    </div> -->
  </div>
</div>
