<div class="container">
  <div class="row heading">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Srujana Past Events</h2><hr class="orange">
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="row">
      <div class="col-xs-6 text-center">
        <div class="date">
          <span class="name">Sogaat</span> - 22 NOV 2015
        </div>
        <div class="text-center">
          <img src="http://image.ibb.co/nzCxd5/Screen_Shot_2017_04_26_at_10_14_47_PM.png" alt="Screen_Shot_2017_04_26_at_10_14_47_PM" class="poster img-rounded">
        </div>
      </div>
      <div class="col-xs-6 text-center">
        <div class="date">
          <span class="name">Shabda Sangat</span> - 30 NOV 2014
        </div>
        <div class="text-center">
          <img src="http://image.ibb.co/mEnGo5/Shabda_Sangat.gif" alt="Shabda_Sangat" class="poster img-rounded">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-6 text-center">
        <div class="date">
          <span class="name">Sur Safar</span> - 16 AUG 2014
        </div>
        <div class="text-center">
          <img src="http://image.ibb.co/bFmWMQ/Sur_Safar.png" alt="Sur_Safar" class="poster img-rounded">
        </div>
      </div>
      <div class="col-xs-6 text-center">
        <div class="date">
          <span class="name">Ashok Dave</span> - 26 APR 2014
        </div>
        <div class="text-center">
          <img src="http://image.ibb.co/dLzAy5/Screen_Shot_2017_04_26_at_10_14_08_PM.png" alt="Screen_Shot_2017_04_26_at_10_14_08_PM" class="poster img-rounded">
        </div>
      </div>
    </div>
  </div>
</div>
