<div class="container">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <img src="http://image.ibb.co/fWjm35/sargana_logo_ENG.png" alt="sargana_logo_ENG" class="logo">
  </div>
  <div class="col-xs-12 text-center">
    <hr class="blue">
  </div>
  <div class="col-xs-12 details">
    <h2 class="event">Upcoming Events</h2>
    <hr class="orange">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="date">
        <span class="name">Sangam</span> - 25 MAY 2017
      </div>
      <div class="text-center">
        <img src="http://image.ibb.co/itLFwQ/Screen_Shot_2017_04_24_at_1_55_55_PM.png" alt="Screen_Shot_2017_04_24_at_1_55_55_PM" class="logo img-rounded">
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <h2>Special Thanks to Our Sponsors:</h2>
    <hr class="yellow">
  </div>
  <div class="col-xs-12 text-center sponsors">
    <div class="row">
      <div class="col-xs-6 text-right">
        <img src="http://image.ibb.co/cvQYJ5/Screen_Shot_2017_04_26_at_10_31_42_PM.png" alt="Screen_Shot_2017_04_26_at_10_31_42_PM" class="img-rounded">
      </div>
      <div class="col-xs-6 text-left">
        <p>Armored Knight Group: Career building courses & placement</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
        <img src="http://image.ibb.co/ituAy5/ShopLogo.jpg" class="img-rounded">
      </div>
      <div class="col-xs-6 text-left">
        <p>Thrust Performance: South Amboy & Bound Bridge locations for your automobile needs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">
        <h4>Rahul</h4>
        <h4>Sangita & Pranav</h4>
        <h4>Trupti & Sudhir</h4>
      </div>
      <div class="col-xs-6 text-left">
        <h4>Shukla</h4>
        <h4>Shah</h4>
        <h4>Parikh (Parikh Network)</h4>
      </div>
    </div>
  </div>
</div>
