<div class="container">
  <div class="row heading">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>OUR TEAM</h2><hr class="orange">
    </div>
  </div>

  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/jXTyJ5/IMG_6906.jpg" alt="IMG_6906" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Ashish Desai</h2>
      <h4>adesai28@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/e7rw5k/image1.jpg" alt="image1" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Rathin Metha</h2>
      <h4>rathin72@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/ibxErQ/IMG_2777.jpg" alt="IMG_2777" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Jagadish Christian</h2>
      <h4>jagadishchristian@yahoo.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
<hr>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/jXTyJ5/IMG_6906.jpg" alt="IMG_6906" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-right name">
      <h2>Ashish Desai</h2>
      <h4>adesai28@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/e7rw5k/image1.jpg" alt="image1" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-right name">
      <h2>Rathin Metha</h2>
      <h4>rathin72@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-2 image">
      <img src="http://image.ibb.co/ibxErQ/IMG_2777.jpg" alt="IMG_2777" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-right name">
      <h2>Jagadish Christian</h2>
      <h4>jagadishchristian@yahoo.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
<hr>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-4 text-right image">
      <img src="http://image.ibb.co/jXTyJ5/IMG_6906.jpg" alt="IMG_6906" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Ashish Desai</h2>
      <h4>adesai28@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-4 text-right image">
      <img src="http://image.ibb.co/e7rw5k/image1.jpg" alt="image1" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Rathin Metha</h2>
      <h4>rathin72@gmail.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>
  <div class="row member">
    <div class="col-xs-2 col-xs-offset-4 text-right image">
      <img src="http://image.ibb.co/ibxErQ/IMG_2777.jpg" alt="IMG_2777" border="0">
      <hr class="yellow">
    </div>
    <div class="col-xs-6 text-left name">
      <h2>Jagadish Christian</h2>
      <h4>jagadishchristian@yahoo.com</h4>
      <h4>+1 (973) 652-6607</h4>
    </div>
  </div>

</div>
