<div class="container">
  <div class="navbar">
    <div class="container">
      <div class="col-xs-8 col-xs-offset-2 text-center links">
        <div class="col-xs-3 nav">
          <h5>What is Srujana</h5>
        </div>
        <div class="col-xs-3 nav">
          <h5>Events</h5>
          <!-- <button class="button" name="button">Advisory Panel</button> -->
        </div>
        <div class="col-xs-3 nav">
          <h5>Our Team</h5>
        </div>
        <div class="col-xs-3 nav">
          <h5>Contact Us</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-xs-offset-3">
    <img src="https://image.ibb.co/nH5QwQ/sargana_logo_ENG_1.png" alt="sargana_logo_ENG_1" class="logo">
    <!-- <img src="https://image.ibb.co/iCvHAk/srujana_LOGO.jpg" alt="srujana_LOGO" border="0"> -->
  </div>

  <!-- <div class="col-xs-8 col-xs-offset-2 text-center">
    <hr class="orange">
  </div> -->
</div>
