<div class="navbar">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center links">
      <div class="col-xs-2 col-md-offset-1 nav" routerLink="/about">
        <h5>Srujana</h5> <!-- Link to AboutComponent -->
      </div>
      <div class="col-xs-2 nav" routerLink="/events">
        <h5>Events</h5> <!-- Link to EventsComponent -->
      </div>
      <div class="col-md-2 col-xs-4 home text-center" routerLink="/">
        <img src="http://image.ibb.co/b9zFFk/sargana_logo_ENG_1.png" alt="sargana_logo_ENG_1" class="homeLogo">
      </div>
      <div class="col-xs-2 nav" routerLink="/team">
        <h5>Team</h5> <!-- Link to TeamComponent -->
      </div>
      <div class="col-xs-2 nav" routerLink="/contact">
        <h5>Contact</h5> <!-- Link to ContactComponent -->
      </div>
    </div>
  </div>
</div>
