.container {
  color: #f1f4ff;
}
.heading {
  font-family: 'Montserrat', sans-serif;
}

.poster {
  width: 100%;
}

.sponsors {
  background-color: #fff;
  border-radius: 5px;
  color: #021A59;
}
.sponsor hr {
  opacity: 0;
}
.sponsor:hover hr {
  opacity: 1.0;
}
