<div class="container">
  <div class="heading">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h2>UPCOMING EVENTS</h2>
      <hr class="orange">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="date">
          <h3>Srujana & TV Asia Present</h3>
          <span class="name">Sangam</span> - 25 MAY 2017
        </div>
        <div class="text-center">
          <img src="https://image.ibb.co/kAbUt5/Sangam_postcard_5_x_7_1.jpg" alt="Sangam_postcard_5_x_7_1" class="logo img-rounded">
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h2>Brought to you by:</h2>
      </div>
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center sponsors">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <div class="sponsor">
              <img src="https://image.ibb.co/ituAy5/ShopLogo.jpg" class="img-rounded">
              <hr class="yellow">
            </div>
            <div class="sponsor">
              <h4>Rahul & Meena Shukla from SS White Aerospace</h4>
              <hr class="orange">
            </div>
            <div class="sponsor">
              <img src="https://image.ibb.co/cvQYJ5/Screen_Shot_2017_04_26_at_10_31_42_PM.png" alt="Screen_Shot_2017_04_26_at_10_31_42_PM" class="img-rounded">
              <hr class="yellow">
            </div>
            <div class="sponsor">
              <h4>Parikh Network</h4>
              <hr class="orange">
            </div>
            <div class="sponsor">
              <!-- <h4>Dilip Mehta (Bombay Talk, MAP Restaurant Inc)</h4> -->
              <img src="http://image.ibb.co/cpWMak/ED63_ADDB_0772_46_A6_8411_43_F421753845.jpg" alt="ED63_ADDB_0772_46_A6_8411_43_F421753845">
              <hr class="yellow">
            </div>
            <div class="sponsor">
              <h4>Sangita & Pranav Shah</h4>
              <hr class="orange">
            </div>
            <div class="sponsor">
              <h4>Division 10 Inc</h4>
              <hr class="yellow">
            </div>
            <div class="sponsor">
              <h4>Maa Siddheshwari Food Corp</h4>
              <hr class="orange">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row heading">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h2>PAST EVENTS</h2><hr class="orange">
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div class="date">
          <span class="name">Sogaat</span> - 22 NOV 2015
        </div>
        <div class="text-center">
          <img src="https://image.ibb.co/nzCxd5/Screen_Shot_2017_04_26_at_10_14_47_PM.png" alt="Screen_Shot_2017_04_26_at_10_14_47_PM" class="poster img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div class="date">
          <span class="name">Shabda Sangat</span> - 30 NOV 2014
        </div>
        <div class="text-center">
          <img src="https://image.ibb.co/mEnGo5/Shabda_Sangat.gif" alt="Shabda_Sangat" class="poster img-rounded">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div class="date">
          <span class="name">Sur Safar</span> - 16 AUG 2014
        </div>
        <div class="text-center">
          <img src="https://image.ibb.co/bFmWMQ/Sur_Safar.png" alt="Sur_Safar" class="poster img-rounded">
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div class="date">
          <span class="name">Ashok Dave</span> - 26 APR 2014
        </div>
        <div class="text-center">
          <img src="https://image.ibb.co/dLzAy5/Screen_Shot_2017_04_26_at_10_14_08_PM.png" alt="Screen_Shot_2017_04_26_at_10_14_08_PM" class="poster img-rounded">
        </div>
      </div>
    </div>
  </div>
</div>
